html, body {
  height: 100%;
  color: #292929;
 }

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
  color: #173092;
}

p, a, li {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

a {
  font-weight: 700;
  color: #173092;
}
a:hover {
  text-decoration: underline;
}

.navbar {
  border-bottom: 1px solid #d9d9d9;
}

.btn {
  font-size: 20px;
  font-weight: 700;
}

.btn-primary {
  color: #FFF;
  padding: 16px 32px;
  background-color: #033092;
}

.btn-primary:hover {
  color: #FFF;
  padding: 16px 32px;
  background-color: #003FC9;
}

.btn-secondary {
  border-color: #003FC9;
  border-width: 2px;
  padding: 16px 32px;
  color: #033092;
}

.btn-secondary:hover {
  color: #FFF;
  border-color: #003FC9;
  border-width: 2px;
  padding: 16px 32px;
  background-color: #003FC9;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  min-height: calc(100vh - 160px);
}

.progress-status .prog {
  width: 64px;
  border-radius: 4px;
  height: 6px;
  margin: 8px;
  display: inline-block;
}

.progress-status .prog-filled {
  background-color: #033092;
}

.progress-status .prog-empty {
  background-color: #033092;
  opacity: .3;
}

.question-text {
  font-size: 28px;
  margin-bottom: 24px;
}

.question-ul {
  font-size: 20px;
  margin-bottom: 16px;
}

/** Footer **/
.page-footer {
  background: #001136;
  color: #FFF;
}

.footer-links-container {
  text-align: right;
}

.footer-link {
  color: #FFF;
  font-size: 14px;
}

.footer-link:hover {
  color: #FFF;
  text-decoration: underline;
}

@media only screen and (max-width: 414px) {
  .footer, .footer-links-container {
    text-align: center !important;
  }
}